1stcaptcha==1.0.4
2captcha-python==1.2.0
accelerate==0.18.0
adafruit-ampy==1.1.0
adbutils==2.8.0
aider-chat==0.75.1
aider-install==0.1.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiokafka==0.10.0
aiomysql==0.2.0
aioquic==1.2.0
aioquic-mitmproxy==0.9.20.3
aiosignal==1.3.2
aiosmtplib==3.0.1
aiosqlite==0.18.0
alembic==1.13.1
alibabacloud-alidns20150109==3.0.10
alibabacloud-credentials==0.3.2
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-rocketmq20220801==1.4.1
alibabacloud-tea==0.3.5
alibabacloud-tea-console==0.0.1
alibabacloud-tea-openapi==0.3.8
alibabacloud-tea-util==0.3.11
alibabacloud-tea-xml==0.0.2
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
altair==5.3.0
annotated-types==0.7.0
anthropic==0.45.2
antlr4-python3-runtime==4.9.3
anyio==4.8.0
-e file:///Users/ben/Documents/pc/koudai/api_server
apkutils2==1.0.0
appium-python-client==4.2.0
appnope==0.1.3
argcomplete==3.0.8
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
argparse==1.4.0
arrow==1.2.3
asgi-tools==0.76.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrdict==2.0.1
attrs==25.1.0
audioread==3.0.1
awaits==0.0.1
azure-ai-translation-text==1.0.1
azure-core==1.32.0
babel==2.17.0
backcall==0.2.0
backoff==2.2.1
bashlex==0.18
bce-python-sdk==0.8.90
bcrypt==4.0.1
beautifulsoup4==4.13.3
bidict==0.22.1
bitarray==2.9.1
bitstring==4.1.4
blackrenderer==0.6.0
bleach==6.0.0
blinker==1.9.0
booleanoperations==0.9.0
boto==2.49.0
boto3==1.36.22
botocore==1.36.22
bottle==0.12.25
brotli==1.1.0
browser-use==0.1.37
browserforge==1.2.3
bs4==0.0.1
build==1.2.1
cachecontrol==0.14.0
cached-property==1.5.2
cachetools==5.3.3
cairocffi==1.7.1
cairosvg==2.7.1
camel-converter==3.0.0
camoufox==0.4.11
cbor==1.0.0
cbor2==5.4.6
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cigam==0.0.3
cleo==2.1.0
click==8.1.8
cloudpickle==2.2.1
cnocr==2.3.1
cnstd==1.2.5.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comfy-api-simplified==1.2.0
comm==0.1.2
configargparse==1.7
confluent-kafka==2.4.0
construct==2.10.70
contextlib2==21.6.0
contourpy==1.0.7
controlnet-aux==0.0.3
courlan==1.3.2
crashtest==0.4.1
crcmod==1.7
cryptography==44.0.2
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.7.1
cycler==0.11.0
cython==3.0.3
dashscope==1.13.6
dataclasses-json==0.6.7
datasets==2.14.7
dateparser==1.2.1
debugpy==1.6.6
decorator==4.4.2
deepl==1.20.0
defusedxml==0.7.1
deprecated==1.2.18
deprecation==2.1.0
diff-match-patch==20241021
diffusers==0.16.1
dill==0.3.7
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
docker-pycreds==0.4.0
docutils==0.19
doit==0.36.0
drawbot @ git+https://github.com/typemytype/drawbot@45a8ddfc88662c2d5d05e23378a8b7224439a2fe
drawbot-skia==0.5.1
dspy-ai==2.4.9
dulwich==0.21.7
easydict==1.13
ecdsa==0.18.0
edge-tts==6.1.3
einops==0.7.0
elastic-transport==8.13.1
elasticsearch==8.13.2
elasticsearch-dsl==8.14.0
email-validator==2.1.1
entrypoints==0.4
enum34==1.1.10
esptool==4.7.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fabric2==3.0.0
facebook-wda==1.4.9
faiss-cpu==1.8.0
fastapi==0.115.11
fastapi-cli==0.0.4
fastapi-socketio==0.0.10
fastcore==1.6.1
fasteners==0.18
fastjsonschema==2.19.1
fastlite==0.0.7
feedfinder2==0.0.4
feedparser==6.0.11
ffmpy==0.3.0
filelock==3.17.0
filetype==1.2.0
fire==0.5.0
fireworks-ai==0.15.12
flake8==7.1.2
flask==3.1.0
flask-babel==4.0.0
flask-cors==3.0.10
flask-socketio==5.3.6
flaskwebgui==0.3.5
flatbuffers==23.5.26
fonttools==4.39.0
fqdn==1.5.1
free-proxy==1.1.1
frozenlist==1.5.0
fsspec==2025.2.0
future==0.18.3
gcs-oauth2-boto-plugin==3.0
gitdb==4.0.12
gitpython==3.1.44
glances==3.4.0.3
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.19.1
google-api-python-client==2.135.0
google-apitools==0.5.32
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
google-reauth==0.1.1
googleapis-common-protos==1.63.2
gptme==0.19.2
gradio==5.9.1
gradio-client==1.5.2
gradio-pdf==0.0.21
graphviz==0.20.3
greenlet==3.1.1
grep-ast==0.6.1
groq==0.9.0
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.54.0
gsutil==5.23
h11==0.14.0
h2==4.2.0
hf-transfer==0.1.5
hpack==4.1.0
html2markdown==0.1.7
html2text==2024.2.26
html5lib==1.1
htmldate==1.9.3
http-router==4.1.2
httpcore==1.0.7
httplib2==0.22.0
httptools==0.5.0
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.7.1
huggingface-hub==0.29.0
humanfriendly==10.0
hypercorn==0.17.3
hyperframe==6.1.0
icecream==2.1.3
idna==3.10
ifaddr==0.2.0
ijson==3.3.0
imageio==2.26.0
imageio-ffmpeg==0.4.8
imapclient==2.3.1
imgaug==0.4.0
imgkit==1.2.3
importlib-metadata==7.2.1
importlib-resources==6.5.2
incapsula-cracker-py3==0.1.8.1
iniconfig==2.0.0
install==1.3.5
installer==0.7.0
intelhex==2.3.0
invoke==2.0.0
ipykernel==6.21.3
ipython==8.28.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jaraco-classes==3.4.0
jedi==0.18.2
jieba3k==0.35.1
jinja2==3.1.6
jiter==0.8.2
jmespath==0.10.0
joblib==1.4.2
jsengine==1.0.7.post1
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-client==8.0.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-core==5.2.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.1
jupyter-server==2.4.0
jupyter-server-fileid==0.8.0
jupyter-server-terminals==0.4.4
jupyter-server-ydoc==0.6.1
jupyter-ydoc==0.2.3
jupyterlab==4.4.1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.27.3
jupyterlab-widgets==3.0.5
jupyterlite-core==0.5.1
jupyterlite-pyodide-kernel==0.5.2
justext==3.0.1
kaitaistruct==0.10
kconfiglib==14.1.0
keyring==24.3.1
kiwisolver==1.4.4
lama-cleaner==1.2.4
langchain==0.3.14
langchain-anthropic==0.3.3
langchain-aws==0.2.12
langchain-community==0.0.38
langchain-core==0.3.35
langchain-fireworks==0.2.7
langchain-google-genai==2.0.8
langchain-groq==0.1.3
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-text-splitters==0.3.6
langsmith==0.2.11
language-tags==1.2.0
lazy-loader==0.3
ldap3==2.9.1
leptonai==0.15.1
librosa==0.10.1
libsql-experimental==0.0.34
lightning-utilities==0.14.3
limits==3.7.0
linkify-it-py==2.0.0
litellm==1.61.9
llama-index-core==0.12.19
llama-index-embeddings-huggingface==0.5.1
llvmlite==0.41.1
lmdb==1.4.1
lmnr==0.4.60
loguru==0.7.0
logzero==1.7.0
lxml==5.3.1
lxml-html-clean==0.4.1
maincontentextractor==0.0.4
mako==1.3.5
markdown==3.7
markdown-it-py==3.0.0
markdown2==2.4.9
markdownify==0.14.1
markupsafe==3.0.2
marshmallow==3.26.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mcp==1.6.0
mcp-server-fetch==2025.1.17
mcp-server-time==0.6.2
mdit-py-plugins==0.3.3
mdurl==0.1.2
meilisearch==0.31.2
minify-html==0.15.0
minio==7.1.14
mistune==2.0.5
mitmproxy==11.0.2
mitmproxy-macos==0.10.7
mitmproxy-rs==0.10.7
mixpanel==4.10.1
monotonic==1.6
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.1.0
multiprocess==0.70.15
multiprocessing-logging==0.3.4
mypy-extensions==1.0.0
nanoid==2.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.6.0
networkx==3.2.1
newspaper3k==0.2.8
nicegui==1.4.18
nltk==3.9.1
notebook==7.0.3
notebook-shim==0.2.2
numba==0.58.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.4.5
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.16.3
openai==1.63.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-langchain==0.38.6
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-sqlalchemy==0.51b0
opentelemetry-instrumentation-threading==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-semantic-conventions-ai==0.4.2
opentelemetry-util-http==0.51b0
opt-einsum==3.3.0
optuna==3.6.1
orjson==3.10.4
oss2==2.18.3
outcome==1.3.0.post0
packaging==24.2
paddleocr==2.8.1
paddlepaddle==2.6.1
pandas==2.2.2
pandocfilters==1.5.0
paramiko==3.5.1
parso==0.8.3
passlib==1.7.4
pathspec==0.12.1
pdf2docx==0.5.6
pdf2zh==1.8.8
pdfminer-six==20240706
pexpect==4.9.0
pgi==0.0.11.2
phone==0.4.3
pick==2.4.0
pickleshare==0.7.5
piexif==1.1.3
pillow==10.4.0
pinyincopybook==0.2
pip==25.0.1
pipx==1.6.0
pkginfo==1.10.0
platformdirs==4.3.6
playwright==1.51.0
playwright-stealth==1.0.5
plotly==5.15.0
pluggy==1.0.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
pooch==1.8.0
posthog==3.14.1
premailer==3.10.0
prettytable==3.6.0
priority==2.0.0
proglog==0.1.10
prometheus-client==0.16.0
prometheus-fastapi-instrumentator==6.1.0
prompt-toolkit==3.0.50
propcache==0.2.1
protego==0.4.0
proto-plus==1.24.0
protobuf==6.30.2
protobuf-inspector==0.2
proxy-tools==0.1.0
pscript==0.7.7
psutil==7.0.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
pyaudio==0.2.14
pybind11==2.13.1
pycairo==1.26.1
pyclipper==1.3.0.post5
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.17
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.8.0
pydeck==0.9.1
pydub==0.25.1
pyecharts==2.0.2
pyee==12.1.1
pyelftools==0.31
pyexecjs==1.5.1
pyexiv2==2.8.1
pyflakes==3.2.0
pygments==2.19.1
pyhumps==3.8.0
pyjwt==2.8.0
pylsqpack==0.3.17
pympler==1.0.1
pymupdf==1.20.2
pymysql==1.1.1
pynacl==1.5.0
pyobjc==10.3.1
pyobjc-core==10.3.1
pyobjc-framework-accessibility==10.3.1
pyobjc-framework-accounts==10.3.1
pyobjc-framework-addressbook==10.3.1
pyobjc-framework-adservices==10.3.1
pyobjc-framework-adsupport==10.3.1
pyobjc-framework-applescriptkit==10.3.1
pyobjc-framework-applescriptobjc==10.3.1
pyobjc-framework-applicationservices==10.3.1
pyobjc-framework-apptrackingtransparency==10.3.1
pyobjc-framework-audiovideobridging==10.3.1
pyobjc-framework-authenticationservices==10.3.1
pyobjc-framework-automaticassessmentconfiguration==10.3.1
pyobjc-framework-automator==10.3.1
pyobjc-framework-avfoundation==10.3.1
pyobjc-framework-avkit==10.3.1
pyobjc-framework-avrouting==10.3.1
pyobjc-framework-backgroundassets==10.3.1
pyobjc-framework-browserenginekit==10.3.1
pyobjc-framework-businesschat==10.3.1
pyobjc-framework-calendarstore==10.3.1
pyobjc-framework-callkit==10.3.1
pyobjc-framework-cfnetwork==10.3.1
pyobjc-framework-cinematic==10.3.1
pyobjc-framework-classkit==10.3.1
pyobjc-framework-cloudkit==10.3.1
pyobjc-framework-cocoa==10.3.1
pyobjc-framework-collaboration==10.3.1
pyobjc-framework-colorsync==10.3.1
pyobjc-framework-contacts==10.3.1
pyobjc-framework-contactsui==10.3.1
pyobjc-framework-coreaudio==10.3.1
pyobjc-framework-coreaudiokit==10.3.1
pyobjc-framework-corebluetooth==10.3.1
pyobjc-framework-coredata==10.3.1
pyobjc-framework-corehaptics==10.3.1
pyobjc-framework-corelocation==10.3.1
pyobjc-framework-coremedia==10.3.1
pyobjc-framework-coremediaio==10.3.1
pyobjc-framework-coremidi==10.3.1
pyobjc-framework-coreml==10.3.1
pyobjc-framework-coremotion==10.3.1
pyobjc-framework-coreservices==10.3.1
pyobjc-framework-corespotlight==10.3.1
pyobjc-framework-coretext==10.3.1
pyobjc-framework-corewlan==10.3.1
pyobjc-framework-cryptotokenkit==10.3.1
pyobjc-framework-datadetection==10.3.1
pyobjc-framework-devicecheck==10.3.1
pyobjc-framework-dictionaryservices==10.3.1
pyobjc-framework-discrecording==10.3.1
pyobjc-framework-discrecordingui==10.3.1
pyobjc-framework-diskarbitration==10.3.1
pyobjc-framework-dvdplayback==10.3.1
pyobjc-framework-eventkit==10.3.1
pyobjc-framework-exceptionhandling==10.3.1
pyobjc-framework-executionpolicy==10.3.1
pyobjc-framework-extensionkit==10.3.1
pyobjc-framework-externalaccessory==10.3.1
pyobjc-framework-fileprovider==10.3.1
pyobjc-framework-fileproviderui==10.3.1
pyobjc-framework-findersync==10.3.1
pyobjc-framework-fsevents==10.3.1
pyobjc-framework-gamecenter==10.3.1
pyobjc-framework-gamecontroller==10.3.1
pyobjc-framework-gamekit==10.3.1
pyobjc-framework-gameplaykit==10.3.1
pyobjc-framework-healthkit==10.3.1
pyobjc-framework-imagecapturecore==10.3.1
pyobjc-framework-inputmethodkit==10.3.1
pyobjc-framework-installerplugins==10.3.1
pyobjc-framework-instantmessage==10.3.1
pyobjc-framework-intents==10.3.1
pyobjc-framework-intentsui==10.3.1
pyobjc-framework-iobluetooth==10.3.1
pyobjc-framework-iobluetoothui==10.3.1
pyobjc-framework-iosurface==10.3.1
pyobjc-framework-ituneslibrary==10.3.1
pyobjc-framework-kernelmanagement==10.3.1
pyobjc-framework-latentsemanticmapping==10.3.1
pyobjc-framework-launchservices==10.3.1
pyobjc-framework-libdispatch==10.3.1
pyobjc-framework-libxpc==10.3.1
pyobjc-framework-linkpresentation==10.3.1
pyobjc-framework-localauthentication==10.3.1
pyobjc-framework-localauthenticationembeddedui==10.3.1
pyobjc-framework-mailkit==10.3.1
pyobjc-framework-mapkit==10.3.1
pyobjc-framework-mediaaccessibility==10.3.1
pyobjc-framework-medialibrary==10.3.1
pyobjc-framework-mediaplayer==10.3.1
pyobjc-framework-mediatoolbox==10.3.1
pyobjc-framework-metal==10.3.1
pyobjc-framework-metalfx==10.3.1
pyobjc-framework-metalkit==10.3.1
pyobjc-framework-metalperformanceshaders==10.3.1
pyobjc-framework-metalperformanceshadersgraph==10.3.1
pyobjc-framework-metrickit==10.3.1
pyobjc-framework-mlcompute==10.3.1
pyobjc-framework-modelio==10.3.1
pyobjc-framework-multipeerconnectivity==10.3.1
pyobjc-framework-naturallanguage==10.3.1
pyobjc-framework-netfs==10.3.1
pyobjc-framework-network==10.3.1
pyobjc-framework-networkextension==10.3.1
pyobjc-framework-notificationcenter==10.3.1
pyobjc-framework-opendirectory==10.3.1
pyobjc-framework-osakit==10.3.1
pyobjc-framework-oslog==10.3.1
pyobjc-framework-passkit==10.3.1
pyobjc-framework-pencilkit==10.3.1
pyobjc-framework-phase==10.3.1
pyobjc-framework-photos==10.3.1
pyobjc-framework-photosui==10.3.1
pyobjc-framework-preferencepanes==10.3.1
pyobjc-framework-pushkit==10.3.1
pyobjc-framework-quartz==10.3.1
pyobjc-framework-quicklookthumbnailing==10.3.1
pyobjc-framework-replaykit==10.3.1
pyobjc-framework-safariservices==10.3.1
pyobjc-framework-safetykit==10.3.1
pyobjc-framework-scenekit==10.3.1
pyobjc-framework-screencapturekit==10.3.1
pyobjc-framework-screensaver==10.3.1
pyobjc-framework-screentime==10.3.1
pyobjc-framework-scriptingbridge==10.3.1
pyobjc-framework-searchkit==10.3.1
pyobjc-framework-security==10.3.1
pyobjc-framework-securityfoundation==10.3.1
pyobjc-framework-securityinterface==10.3.1
pyobjc-framework-sensitivecontentanalysis==10.3.1
pyobjc-framework-servicemanagement==10.3.1
pyobjc-framework-sharedwithyou==10.3.1
pyobjc-framework-sharedwithyoucore==10.3.1
pyobjc-framework-shazamkit==10.3.1
pyobjc-framework-social==10.3.1
pyobjc-framework-soundanalysis==10.3.1
pyobjc-framework-speech==10.3.1
pyobjc-framework-spritekit==10.3.1
pyobjc-framework-storekit==10.3.1
pyobjc-framework-symbols==10.3.1
pyobjc-framework-syncservices==10.3.1
pyobjc-framework-systemconfiguration==10.3.1
pyobjc-framework-systemextensions==10.3.1
pyobjc-framework-threadnetwork==10.3.1
pyobjc-framework-uniformtypeidentifiers==10.3.1
pyobjc-framework-usernotifications==10.3.1
pyobjc-framework-usernotificationsui==10.3.1
pyobjc-framework-videosubscriberaccount==10.3.1
pyobjc-framework-videotoolbox==10.3.1
pyobjc-framework-virtualization==10.3.1
pyobjc-framework-vision==10.3.1
pyobjc-framework-webkit==10.3.1
pyopenssl==24.3.0
pypandoc==1.15
pyparsing==3.1.2
pypdf2==3.0.1
pyperclip==1.9.0
pypinyin==0.48.0
pypng==0.20220715.0
pyproject-hooks==1.0.0
pyquery==2.0.0
pyrsistent==0.19.3
pyserial==3.5
pysocks==1.7.1
pysrt==1.1.2
pytest==7.3.1
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-dotenv==1.1.0
python-engineio==4.9.0
python-fasthtml==0.2.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-opencv==1.0.0.14
python-pushover2 @ https://files.pythonhosted.org/packages/ec/f1/9b4e0ca0f31c79dc98724f2a0a2613d8ad9501d8972c50b9afb8efa22a32/python_pushover2-0.5-py3-none-any.whl
python-resize-image==1.1.20
python-socketio==5.11.1
pytorch-lightning==2.5.1
pytz==2025.1
pytz-deprecation-shim==0.1.0.post0
pyu2f==0.1.5
pywavelets==1.4.1
pywebview==4.2.2
pyyaml==6.0.2
pyzmail39==0.0.2
pyzmq==25.0.0
qrcode==7.4.2
quart==0.20.0
quart-babel==1.0.4
quart-compress==0.2.1
quart-rate-limiter==0.11.0
quart-redis==2.0.0
quart-schema==0.20.0
quickjs==1.19.4
rapidfuzz==3.3.1
rapidocr-onnxruntime==1.3.25
rarfile==4.1
readabilipy==0.3.0
redis==4.6.0
reedsolo==1.7.0
referencing==0.36.2
regex==2024.11.6
replicate==0.25.1
reportlab==4.2.2
requests==2.32.3
requests-file==1.5.1
requests-toolbelt==1.0.0
retry==0.9.2
retry-decorator==1.1.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
ruamel-yaml==0.17.35
ruamel-yaml-clib==0.2.8
ruff==0.8.4
s3transfer==0.11.2
safehttpx==0.1.6
safetensors==0.5.2
scikit-image==0.19.3
scikit-learn==1.6.1
scipy==1.13.1
scrapegraphai==1.7.0
screeninfo==0.8.1
seaborn==0.13.2
selenium==4.25.0
semantic-version==2.10.0
semchunk==1.0.1
send2trash==1.8.0
sentence-transformers==3.4.1
sentencepiece==0.1.99
sentry-sdk==2.25.1
service-identity==24.2.0
setproctitle==1.3.5
setuptools==75.8.0
setuptools-scm==8.1.0
sgmllib3k==1.0.0
shapely==2.0.1
shellingham==1.5.4
simple-websocket==1.0.0
simplejson==3.18.4
six==1.17.0
skia-python==87.6
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.3.7
sqlalchemy==2.0.38
sqlite-minutils==3.36.0.post4
sse-starlette==2.2.1
stack-data==0.6.2
starlette==0.41.3
streamlit==1.39.0
structlog==24.2.0
svglib==1.5.1
svgwrite==1.4.3
sympy==1.13.3
tablestore==5.4.1
tabulate==0.9.0
tenacity==9.0.0
tencentcloud-sdk-python==3.0.1292
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.5.0
tifffile==2023.4.12
tiktoken==0.9.0
timm==0.9.7
tinycss2==1.2.1
tinysegmenter==0.3
tld==0.13
tldextract==5.1.1
tokenizers==0.19.1
tomd==0.1.3
toml==0.10.2
tomlkit==0.12.4
toolz==0.12.1
torch==2.1.0
torchmetrics==1.7.0
torchvision==0.16.0
tornado==6.4.1
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==4.44.2
-e file:///Users/ben/Downloads/translation-agent
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
trio==0.26.2
trio-websocket==0.11.1
trove-classifiers==2024.3.25
typer==0.15.2
typing-extensions==4.13.2
typing-inspect==0.9.0
tzdata==2025.2
tzlocal==4.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uc-micro-py==1.0.1
uharfbuzz==0.39.3
uiautodev==0.5.0
uiautomator2==3.2.5
ujson==5.7.0
ultralytics==8.3.103
ultralytics-thop==2.0.14
undetected-playwright==0.3.0
unicodedata2==15.1.0
unidecode==1.3.8
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.3.0
urwid==2.6.16
urwid-mitmproxy==2.1.2.1
userpath==1.9.2
uv==0.6.0
uvicorn==0.30.3
uvloop==0.17.0
validators==0.20.0
vbuild==0.8.2
visualdl==2.5.3
wandb==0.19.9
watchdog==4.0.1
watchfiles==1.0.4
wcwidth==0.2.13
wdapy==0.2.4
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websocket-client-py3==0.15.0
websockets==11.0.2
weditor==0.7.3
weixin-python==0.5.7
werkzeug==3.1.3
wheel==0.37.1
whichcraft==0.6.1
widgetsnbextension==4.0.5
wrapt==1.17.2
wsproto==1.2.0
xattr==1.1.0
xlrd==2.0.1
xmltodict==0.13.0
xxhash==3.4.1
y-py==0.5.9
yacs==0.1.8
yarl==1.18.3
youtube-dl==2021.12.17
youtube-transcript-api==0.6.2
ypy-websocket==0.8.2
zhipuai==2.0.1
zipp==3.21.0
zstandard==0.21.0
